{%- liquid
 	assign _logo_svg	 	= section.settings.logo_svg
 	assign _logo 		 	= section.settings.logo
 	assign _logo_max 		= section.settings.logo_max_width
 	assign _logoMaxWidth 	= _logo_max | strip | remove: 'px'
 	assign _logo_size 	 	= _logoMaxWidth | append: 'x'
 	assign _logo_size_2x  	= _logoMaxWidth | times: 2 | append: 'x'
 	assign _logo_size_max 	= _logoMaxWidth | append: 'px'
-%}

{%- capture logoSrc -%}{{ _logo | img_url: _logo_size }} 1x, {{ _logo | img_url: _logo_size_2x }} 2x{%- endcapture -%}

<figure class="logo-wrapper">
	<a href="{{routes.root_url}}" title="{{ shop.name | escape }}" class="logo-site">
		{%- unless _logo_svg == blank -%}
			{{ _logo_svg }}
		{%- else -%}
			{%- unless _logo == blank -%}
				<img class="lazyload" data-srcset="{{ logoSrc | strip_newlines }}" alt="{{ shop.name | escape }}"/>
				<noscript><img src="{{ _logo | img_url: _logo_size }}"/></noscript>
			{%- else -%}
				<h1 class="d-none d-md-block">{{shop.name | uppercase }}</h1>
				<small class="d-md-none">{{shop.name | uppercase }}</small>
			{%- endunless -%}
		{%- endunless -%}
	</a>
</figure>

{%- if _logo_svg == blank -%}
	{%- capture block_css -%}
		{%- unless _logo_max == blank -%}
			.section-{{ section.id }} .logo-wrapper img{max-width: {{ _logo_size_max }};}
		{%- endunless -%}
	{%- endcapture -%}
	{%- assign section_css = section_css | append: block_css -%}
{%- endif -%}