{%- assign l_url = l.url | default: 'javascript:void(0);' -%}
{%- if l_url == '#' -%}{%- assign l_url = 'javascript:void(0);' -%}{%- endif -%}

{%- assign submenu = l.links -%}

{%- if submenu.size > 0 -%}

  <li class="{{class}} dropdown dropdown-submenu{% if l.active or l.child_active %} active{% endif %}" nav-sublink="0">
    <a href="{{ l_url }}" class="dropdown-link">
      <span>{{ l.title }}</span>
    </a>

    <span class="expand"></span>

    <ul class="dropdown-menu">
      {%- for l in submenu -%}
        {%- render 'nav-sub-link', l: l, class: class -%}
      {%- endfor -%}
    </ul>
  </li>

{%- else -%}
  <li class="{{class}}{% if l.active  %} active{% endif %}" nav-sublink="1">
    <a href="{{ l_url }}">
      <span>{{ l.title }}</span>
    </a>
  </li>
{%- endif -%}