{%- case type -%}
  	{%- when 'empty-product' -%}
		<div class="card empty_card">
			<div class="card_header">
				<div class="card_figure">
					{%- assign svgIndex = index | default: 1 | plus: 0 | modulo: 6 -%}
					{%- if svgIndex == 0 -%}{%- assign svgIndex = 6 -%}{%- endif -%}
					<div class="empty-{{type}}" data-svg="{{ type | append: current }}">{{ 'product' | append: '-' | append: svgIndex | placeholder_svg_tag: 'placeholder-svg' }}</div>
				</div>
			</div>
			<div class="card_body">
				<h5 class="product-name">Product Name</h5>
				<div class="product-price"><span class="price">{%- render 'money-format', price: 1999 -%}</span></div>
			</div>
		</div>

  	{%- when 'empty-category' -%}
		<div class="card empty_card">
			<div class="card_header">
				<div class="card_figure">
					{%- include 'svgset', type: 'collection' -%}
				</div>
			</div>
			<div class="card_body">
				<h5 class="product-name">Category Name</h5>
			</div>
		</div>

  	{%- when 'empty-menu' -%}
      <div class="menu_list-ui">
        <div class="menu_list-header">
          <p>Consectetur</p>
        </div>
        <div class="menu_list-body">
          <ul class="menu_list-wrapper">
            <li class="menu_list-item"><a href="javascript:void(0);">Lorem ipsum </a></li>
            <li class="menu_list-item"><a href="javascript:void(0);">At lectus urna</a></li>
            <li class="menu_list-item"><a href="javascript:void(0);">Ac feugiat</a></li>
            <li class="menu_list-item"><a href="javascript:void(0);">Vel eros donec ac odio</a></li>
            <li class="menu_list-item"><a href="javascript:void(0);">Tristique nulla</a></li>
          </ul>
        </div>
      </div>

	{%- when 'empty-article' -%}

	    <article class="featured_blog__item">
	    	<header>
	    		<figure class="featured_blog__item-image">
	    			{%- include 'svgset', type: 'collection', svg_group: svg_group -%}
	    		</figure>
	    		<div class="featured_blog__item-label overlay-ui"></div>
	    	</header>
	    	<footer>

	    		<p class="featured_blog__item-title{% if inCustom %} main__text-1{% else %} h5{% endif %}">Your post's title</p>
	    			
	    		{%- if showExcerpt -%}
		    		<div class="featured_blog__item-excerpt{% if inCustom %} main__text-2{% endif %}">
		    			Your store hasn’t published any blog posts yet. A blog can be used to talk about new product launches, tips, or other news you want to share with your customers.
		    		</div>
	    		{%- endif -%}
	    	</footer>
	    </article>
	
	{%- when 'default-image' -%}
		{%- liquid
			assign image_url = 'default-image.jpg' | asset_url
			assign _lazyload 	= true
			assign paddingByRatio 	= settings.product_image_ratio | remove: 'auto'
			unless disablePadding == true
				assign imagePadding = imagePadding | default: paddingByRatio
			endunless
		-%}

		{%- capture image_width -%}[{{ image_width | remove_first: ',' | remove: 'x' }}]{%- endcapture -%}

		{%- capture imageRatio_height -%}{{customClass}}" style="display: block;position: relative;
			{%- unless imagePadding == blank -%}padding-top: {{- imagePadding -}};{%- endunless -%}
			{%- if setWidth -%}width: {% unless manualWidth == blank %} {{ manualWidth }} {% else %}{{image.width}}px{% endunless %};{%- endif -%}
		{%- endcapture -%}

		{%- capture imageRatio_css 	  -%}" style="{{ image_css }}{%- endcapture -%}

		<span class="image__style blank-image{{imageRatio_height}}">
			{%- if _lazyload -%}
				<img class="overlay-ui w-100 h-100 lazyload {{ image_class }}{{imageRatio_css}}"
					data-src="{{ image_url }}"
					data-sizes="auto"
					data-optimumx="1.5"
					data-expand="30"
					data-parent-fit="cover"
					alt="{{ image.alt }}"/>
				<noscript><img class="overlay-ui w-100 h-100 {{ image_class }}{{imageRatio_css}}" src="{{ image | img_url: image_size }}"/></noscript>
			{%- else -%}
				<img class="overlay-ui w-100 h-100 {{ image_class }}" src="{{ image | img_url: image_size }}" alt="{{ image.alt }}"/>
			{%- endif -%}
		</span>

	{%- else -%}

		{%- liquid
		 	assign svg_group = svg_group | default: 'svgGroup01'
		-%}
		{%- case type -%}
		  	{%- when 'product' 		-%}{%- capture current -%}-{%- cycle svg_group: 1, 2, 3, 4, 5, 6 -%}{%- endcapture -%}
			{%- when 'collection' 	-%}{%- capture current -%}-{%- cycle svg_group: 1, 2, 3, 4, 5, 6 -%}{%- endcapture -%}
		  	{%- when 'lifestyle' 	-%}{%- capture current -%}-{%- cycle svg_group: 1, 2 -%}{%- endcapture -%}
		  	{%- else 				-%}{%- capture current -%}{%- endcapture -%}{%- assign type = 'image' -%}
		{%- endcase -%}
		<div class="empty-{{type}}" data-svg="{{ type | append: current }}">{{ type | append: current | placeholder_svg_tag: 'placeholder-svg' }}</div>
{%- endcase -%}