{%- liquid
    assign _pageLayout = settings.page_layout
-%}
<div class="page-404">
  {%- if _pageLayout == 'boxed' -%}<div class="container">{%- endif -%}
    <div class="page-content">
      <div class="row">
        <div class="col-lg-7 col-12">
          <div class="page-text-content">
            <h1>{{- 'general.404_page.title' | t -}}</h1>
            <h2>{{- 'general.404_page.subtitle' | t -}}</h2>
            <p>{{- 'general.404_page.text_redirect' | t -}}</p>
            <a href="{{ routes.root_url }}" class="btn btn-2">{{- 'general.404_page.button_redirect' | t -}}</a>
          </div>
        </div>
        <div class="col-lg-5 d-none d-lg-block">
            <div class="banner-404">
              {%- assign image = '404.png' | asset_img_url: 'master' -%}
              <img src="{{ image }}" onerror="this.style.display = 'none';">
            </div>
        </div>
      </div>
    </div>
  {%- if _pageLayout == 'boxed' -%}</div>{%- endif -%}

  {%- section 'product-recommendation' -%}
</div>